@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,300&display=swap');

body { 
    background-color: #041821;
    color: white;
    margin: 0;
    font-family: 'Yeseva One', cursive;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #808080;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Montserrat', sans-serif;
}

.iconsreseaux {
    padding-right: 15px;
}

/* "Classes" génériques */

.margin0 {
    margin: 0%;
    width: 50%;
}

.center {
    text-align: center;
}

.right {
    position: relative;
    right: 2px;
    width: 100%;
    text-align: right;
}

span {
    color: #1bd79e;
}

.grey {
    color: #808080;
}

.police1 {
    font-family: 'Montserrat', sans-serif;
}

.police2 {
    font-family: 'Yeseva One', cursive;
}

h2 {
    font-size: 3em;
}

/* Corps de page */

.midpage {
    width: 60%;
}

.sectioncentrale {
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 25px;
}

.navdumilieu {
    background-color: #041821;
    color: white;
    border: none;
    letter-spacing: 0.25em;
    font-weight: lighter;
    font-size: 1em;
    padding: 0.5em;
}

#portrait {
    background-color: #1bd79e;
}


/* la grille avec les images */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    margin-top: 30px;
  }
  
.grid img {
    width: 100%;
    object-fit: cover;
}

/* Fin de page */

footer {
    text-align: center;
    margin-top: 90px;
    font-size: 12px;
    color: #757f83;
    font-family: 'Montserrat', sans-serif;
}

#fin {
    font-size: 10px;
}



/* Pour téléphone*/

@media screen and (max-width: 768px)  {

    header {
        display: inherit;
        text-align: center;
        width: auto;
        padding: 5%;
    }

    .margin0 {
        margin: 0;
        width: 100%;
        padding-bottom: 3%;
    }

    .right {
        right: 0%;
        text-align: center;
    }

    .sectioncentrale {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .midpage {
        width: 100%;
    }
    .navdumilieu {
        font-size: 0.6em;
    }
    .grid img:nth-child(n + 10) {  
        display: none;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr); 
    }
    
    h2 {
        font-size: 35px;
    }
}
